App\DTO\Form\ClientAddDTO:
  properties:
    companyName:
      - NotBlank:
          message: Nazwa firmy nie moze byc pusta

    email:
      - NotBlank:
          message: Adres e-mail nie może być pusty

      - Email:
          message:  Niepoprawny adres E-mail
    companyNipNumber:
      - NotBlank:
          message: Numer NIP firmy nie może być pusty

      - Positive:
          message: Numer NIP musi być dodatni

      - Length:
          min: 10
          max: 10
          exactMessage: Numer NIP musi być 10-cio cyfrowy



